<div *ngFor="let currentBeast of childBeastList">
  <ul>
    <li>name: {{currentBeast.name}}</li>
    <li>species: {{currentBeast.species}}</li>
    <li>age: {{currentBeast.age}}</li>
    <li>sex: {{currentBeast.sex}}</li>
    <li>diet: {{currentBeast.diet}}</li>
    <li>location: {{currentBeast.location}}</li>
    <li>caretakers: {{currentBeast.caretakers}}</li>
    <li>likes: {{currentBeast.likes}}</li>
    <li>dislikes: {{currentBeast.dislikes}}</li>
  </ul>
  <button (click)="editButtonClicked(currentBeast)">edit</button>
</div>
