<h1>Add new Beast</h1>
<beast-form (newBeastSender)="addBeast($event)"></beast-form>
<h1>All Beasts:</h1>
<ul *ngFor="let currentBeast of masterBeastList">
  <li>name: {{currentBeast.name}}</li>
  <li>species: {{currentBeast.species}}</li>
  <li>age: {{currentBeast.age}}</li>
  <li>sex: {{currentBeast.sex}}</li>
  <li>diet: {{currentBeast.diet}}</li>
  <li>location: {{currentBeast.location}}</li>
  <li>likes: {{currentBeast.likes}}</li>
  <li>dislikes: {{currentBeast.dislikes}}</li>
  <!-- <button (click)="subtractVolume(masterKegList.indexOf(currentKeg), 1)">edit</button> -->
</ul>
